@font-face {
  font-family: Azonix;
  src: url("styles/fonts/azonix-font/Azonix-1VB0.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("styles/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}


/*------------------- HEADER -------------------*/
header {
    /*background-color: black;*/
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items: center;
    padding: 0rem 2.5rem;
    border-style: dashed;
    border-color: rgb(236, 236, 236);
}

.logo, .contact {
  z-index: 2;
}

.logo {
  font-family: Azonix, monospace, "PT Sans", Tahoma, sans-serif;
  font-size: 2.5em;
  margin: 25px 0px;
  padding-left: 119.87px;
}

.header-text {
  font-family: Montserrat, monospace, "PT Sans", Tahoma, sans-serif;
  font-size: 18px;
}

/*------------------- MENU -------------------*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-y: hidden;
  transition: 0.6s;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-link {
  display:flex;
  justify-content: space-around;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4.5rem;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #4181A1;
}

.overlay .closebtn {
  position: absolute;
  top: 37px;
  left: 43px;
  font-size: 18px;
}

/*------------------- FOOTER -------------------*/
/*------------------- UNDERLINE HOVER ANIMATION -------------------*/
/*------------------- BUTTON HOVER ANIMATION -------------------*/